<%- include("header") -%>

    <div class="box" id="heading">
        <h1>It's a <%= kindofday %>!</h1>
    </div>
    
    <div class="box">    
        <% newlistitem.forEach(function(itemm){ %>
            <form action="/delete" method="Post">
            <div class="item">
                <input type="checkbox" name="checkbox" onchange="this.form.submit()" value="<%=itemm._id%>">
                <p> <%= itemm.name %> </p>
            </div> 
            <input type="hidden" name="listname" value ="<%=kindofday%>">
            </form> 
           <% }) %>
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New item" autocomplete="off">
            <button type="submit" name="list" value=<%= kindofday %>>+</button>
        </form>
    </div>  
  

    <%- include("footer") -%>
  